<h2>Listing posts</h2>

<table>
  <tr>
    <th>Title</th>
    <th></th>
  </tr>
<%= for post <- @posts do %>
  <tr>
    <td><%= post.title %></td>

    <td><%= link "Show", to: post_path(@conn, :show, post) %></td>
  </tr>
<% end %>
</table>

